.flexbox-container {
  display: flex;
  /* margin-left: 20%; */
  justify-content: center;
  margin: 3%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #92c224;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #92c224;
}
